.page-item {
  &.active .page-link {
    box-shadow: $pagination-active-box-shadow;
    background-color: $info;
    border: none; /* Hapus border pada item terpilih */
    color: white; /* Ubah warna teks menjadi putih */
  }
  .page-next {
    &.active .page-link {
      // box-shadow: $pagination-active-box-shadow;
      background-color: $info;
      color: white; /* Ubah warna teks menjadi putih */
    }
  }
  .page-next.disabled .page-link {
    color: #fff; /* Warna untuk item yang dinonaktifkan */
    pointer-events: none; /* Nonaktifkan klik pada item yang dinonaktifkan */
  }

  .page-link,
  span {
    display: $page-link-display;
    align-items: $page-link-align-items;
    justify-content: $page-link-justify-content;
    color: $info; /* Warna teks default */
    padding: 0;
    margin: $page-link-margin;
    border-radius: $page-link-radius !important;
    width: $page-link-width;
    height: $page-link-height;
    font-size: $font-size-sm;
  }
}

.pagination-lg {
  .page-item {
    .page-link,
    span {
      width: $page-link-width-lg;
      height: $page-link-height-lg;
      line-height: $page-link-line-height-lg;
    }
  }
}

.pagination-sm {
  .page-item {
    .page-link,
    span {
      width: $page-link-width-sm;
      height: $page-link-height-sm;
      line-height: $page-link-line-height-sm;
    }
  }
}

.clickable {
  cursor: pointer; /* Menunjukkan bahwa elemen dapat diklik */
  color: $info; /* Warna teks yang diinginkan */
  text-decoration: none; /* Menghilangkan garis bawah */
}

.clickable:hover {
  color: $info; /* Warna tetap sama saat hover */
  background-color: transparent; /* Pastikan background tetap transparan */
}


.page-item.disabled .page-link {
  color: #d2d2d2; /* Warna untuk item yang dinonaktifkan */
  pointer-events: none; /* Nonaktifkan klik pada item yang dinonaktifkan */
}

// Colors
.pagination {
  @each $name, $value in $theme-gradient-colors {
    &.pagination-#{$name} {
      .page-item.active > .page-link {
        &,
        &:focus,
        &:hover {
          @include gradient-directional(nth($value, 1) 0%, nth($value, -1) 100%, $deg: 195deg);
          border: none; /* Pastikan tidak ada border saat hover */
        }
      }
    }
  }
}
